############################
# Node.js
############################

node_modules

############################
# NextJS
############################

.next
next-env.d.ts

############################
# VS Code
############################

.vscode

############################
# Prettier
############################

.prettierrc